<a href="https://colab.research.google.com/github/Serarrs/dap-2024/blob/main/les04/rep.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<div align="center">

ФЕДЕРАЛЬНОЕ ГОСУДАРСТВЕННОЕ АВТОНОМНОЕ ОБРАЗОВАТЕЛЬНОЕ УЧРЕЖДЕНИЕ ВЫСШЕГО ОБРАЗОВАНИЯ
<br>
**«БЕЛГОРОДСКИЙ ГОСУДАРСТВЕННЫЙ НАЦИОНАЛЬНЫЙ
ИССЛЕДОВАТЕЛЬСКИЙ УНИВЕРСИТЕТ»
<br>
(НИУ «БелГУ»)**
<br><br>
ИНСТИТУТ ИНЖЕНЕРНЫХ И ЦИФРОВЫХ ТЕХНОЛОГИЙ
<br><br>
**Кафедра информационных и робототехнических систем**
<br><br><br><br>
**ОТЧЕТ**
<br>
по лабораторной работе №4
<br>
на тему: «Анализ данных пассажиров "Титаника"»
<br>
по дисциплине
<br>
«Анализ данных на Python»
<br>
студента очной формы обучения
<br>
направления подготовки
<br><br><br>
09.03.02 – Информационные системы и технологии
<br>
3 курса группы 12002208
<br>
Кузьмина Анатолия Витальевича

<br><br><br><br><div>
<div align="right">

Проверил:
<br>
ДВОПУ
<br>
Чеботарев С. А.
<div><br><br><br>
<div align="center">

Белгород 2025
<div>
___________

<div align="center">

<br>Ход работы<br>

Задача №1. Создайте DataFarame из файла titanic.csv, в качестве индекса используйте столбец "PassengerId"

In [5]:
import numpy as np
import pandas as pd
url= 'https://raw.githubusercontent.com/chebotarevsa/dap-2024/refs/heads/main/les04/data/titanic.csv'
df = pd.read_csv(url, index_col='PassengerId')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

Задача №2. Просмотрите первые 6 строк

In [6]:
import numpy as np
import pandas as pd
url= 'https://raw.githubusercontent.com/chebotarevsa/dap-2024/refs/heads/main/les04/data/titanic.csv'
df = pd.read_csv(url)
df.head(6)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q

Задача №3. Выведите описание данных

In [7]:
import numpy as np
import pandas as pd
url= 'https://raw.githubusercontent.com/chebotarevsa/dap-2024/refs/heads/main/les04/data/titanic.csv'
df = pd.read_csv(url)
df.describe(include='all')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
count,891.000000,891.000000,891.000000,891,891,714.000000,891.000000,891.000000,891,891.000000,204,889
unique,NaN,NaN,NaN,891,2,NaN,NaN,NaN,681,NaN,147,3
top,NaN,NaN,NaN,"Dooley, Mr. Patrick",male,NaN,NaN,NaN,347082,NaN,G6,S
freq,NaN,NaN,NaN,1,577,NaN,NaN,NaN,7,NaN,4,644
mean,446.000000,0.383838,2.308642,NaN,NaN,29.699118,0.523008,0.381594,NaN,32.204208,NaN,NaN
std,257.353842,0.486592,0.836071,NaN,NaN,14.526497,1.102743,0.806057,NaN,49.693429,NaN,NaN
min,1.000000,0.000000,1.000000,NaN,NaN,0.420000,0.000000,0.000000,NaN,0.000000,NaN,NaN
25%,223.500000,0.000000,2.000000,NaN,NaN,20.125000,0.000000,0.000000,NaN,7.910400,NaN,NaN
50%,446.000000,0.000000,3.000000,NaN,NaN,28.000000,0.000000,0.000000,NaN,14.454200,NaN,NaN
75%,668.500000,1.000000,3.000000,NaN,NaN,38.000000,1.000000,0.000000,NaN,31.000000,NaN,NaN
max,891.000000,1.000000,3.000000,NaN,NaN,80.000000,8.000000,6.000000,NaN,512.329200,NaN,NaN

Задача №4. Сколько мужчин / женщин находилось на борту?

In [8]:
import numpy as np
import pandas as pd
url= 'https://raw.githubusercontent.com/chebotarevsa/dap-2024/refs/heads/main/les04/data/titanic.csv'
df = pd.read_csv(url)
df['Sex'].value_counts()

Sex
male      577
female    314
Name: count, dtype: int64

Задача №5. Выведите распределение переменной Pclass (социально-экономический статус) и это же распределение, только для мужчин / женщин по отдельности. Сколько было мужчин 2-го класса

In [13]:
import numpy as np
import pandas as pd
url= 'https://raw.githubusercontent.com/chebotarevsa/dap-2024/refs/heads/main/les04/data/titanic.csv'
df = pd.read_csv(url)
print("Общее распределение Pclass:")
print(df['Pclass'].value_counts(), "\n")
print("Распределение Pclass по полу:")
print(df.groupby('Sex')['Pclass'].value_counts(), "\n")
men_2nd_class = df[(df['Sex'] == 'male') & (df['Pclass'] == 2)].shape[0]
print(f"Количество мужчин 2-го класса: {men_2nd_class}")

Общее распределение Pclass:
Pclass
3    491
1    216
2    184
Name: count, dtype: int64

Распределение Pclass по полу:
Sex     Pclass
female  3         144
        1          94
        2          76
male    3         347
        1         122
        2         108
Name: count, dtype: int64

Количество мужчин 2-го класса: 108

Задача №6. Каковы медиана и среднеквадрати́чное отклонение платежей (Fare)? Округлите до 2 десятичных знаков.

In [18]:
import numpy as np
import pandas as pd
url= 'https://raw.githubusercontent.com/chebotarevsa/dap-2024/refs/heads/main/les04/data/titanic.csv'
df = pd.read_csv(url)
median_fare = round(df['Fare'].median(), 2)
std_fare = round(df['Fare'].std(), 2)
print("медиана и среднеквадрати́чное отклонение платежей:")
median_fare, std_fare

медиана и среднеквадрати́чное отклонение платежей:

(14.45, 49.69)

Задача №7. Правда ли, что люди моложе 30 лет выживали чаще, чем люди старше 60 лет? Каковы доли выживших в обеих группах?

In [20]:
import numpy as np
import pandas as pd
url= 'https://raw.githubusercontent.com/chebotarevsa/dap-2024/refs/heads/main/les04/data/titanic.csv'
df = pd.read_csv(url)
young = df[df['Age'] < 30]
old = df[df['Age'] > 60]

young_surv_rate = round(young['Survived'].mean(), 2)
old_surv_rate = round(old['Survived'].mean(), 2)
print("Выживших среди молодых и старых:")
young_surv_rate, old_surv_rate

Выживших среди молодых и старых:

(np.float64(0.41), np.float64(0.23))

Задача №8. Правда ли, что женщины выживали чаще мужчин? Каковы доли выживших в обеих группах?

In [21]:
import numpy as np
import pandas as pd
url= 'https://raw.githubusercontent.com/chebotarevsa/dap-2024/refs/heads/main/les04/data/titanic.csv'
df = pd.read_csv(url)
df.groupby('Sex')['Survived'].mean().round(2)

Sex
female    0.74
male      0.19
Name: Survived, dtype: float64

Задача №9. Найдите самое популярное имя среди пассажиров Титаника мужского пола?

In [22]:
import numpy as np
import pandas as pd
url= 'https://raw.githubusercontent.com/chebotarevsa/dap-2024/refs/heads/main/les04/data/titanic.csv'
df = pd.read_csv(url)
men = df[df['Sex'] == 'male']
import re
from collections import Counter
def extract_name(fullname):
    match = re.search(r'Mr\. ([^()]*)', fullname)
    if match:
        name_part = match.group(1).strip()
        first_name = name_part.split()[0].replace('"', '').replace("'", '')
        return first_name
    return None

men_names = men['Name'].apply(extract_name).dropna()
Counter(men_names).most_common(1)

[('William', 30)]

Задача №10. Как отличается средний возраст мужчин / женщин в зависимости от класса обслуживания? Выберите верные утверждения:

1. В среднем мужчины 1-го класса старше 40 лет (Верно)
2. В среднем женщины 1-го класса старше 40 лет (Ложно)
3. Мужчины всех классов в среднем старше женщин того же класса (Верно)
4. В среднем люди в 1 классе старше, чем во 2-ом, а те старше представителей 3-го класса (Верно)

In [23]:
import numpy as np
import pandas as pd
url= 'https://raw.githubusercontent.com/chebotarevsa/dap-2024/refs/heads/main/les04/data/titanic.csv'
df = pd.read_csv(url)
df.groupby(['Sex', 'Pclass'])['Age'].mean().round(1)

Sex     Pclass
female  1         34.6
        2         28.7
        3         21.8
male    1         41.3
        2         30.7
        3         26.5
Name: Age, dtype: float64

Задача №10. Сравните возраст у спасенных и у погибших пасажиров. Средний возраст погибших выше, верно?

In [24]:
import numpy as np
import pandas as pd
url= 'https://raw.githubusercontent.com/chebotarevsa/dap-2024/refs/heads/main/les04/data/titanic.csv'
df = pd.read_csv(url)
df.groupby('Survived')['Age'].mean().round(1)

Survived
0    30.6
1    28.3
Name: Age, dtype: float64